.gradient{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.5); //Weird grey background
}

.article-section{
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	li{
		width: 100%;
		@include tablet{
			// New sass media querys that help so much
			width: 33%;
		}
		@include desktop{
			width: 25%;
		}
		a {
			text-decoration: none;
		}
	}
}
.article{
	width: 100%;
	height: 400px;
	display: flex;
	align-items: flex-end;

	background-size: cover;
	background-position: center center;
	&:hover {
		.abstractpart{

			p{
				margin-top: 0px;

			}
		}
	}
	.abstractpart{
			font-family: 1rem;
			overflow: hidden; // This hides the pushed out text so it doesnt look janky

			width: 100%;
			height: 40%; // this method requires the parent of hte text to have a set dimensions or it wont work
			color: white;
			// padding: 20px;


			p {
				// height: auto;
				margin-left: 10px;
				padding-top: 10px;
				transition: all 1s; // this tells it how long i want it to take
				text-decoration: none;
				margin-top: 100%; //This margin moves it out of view orignally 
				transition: all 1s;
				margin-top: 100%; //This margin moves it out of view orignally
			}
		}
	}
	.article-wrapper{
		display: none;
	}
