	body  {
		font-size: 16px;
		font-family: $font, sans-serif;
		font-weight: light;
		background-color: black;
		background-size: cover;
		color: white;

		max-width: 1600px;
		margin: 0 auto;
	}

	.wrapper{
		display: flex;
		flex-flow: column wrap;
		p{
			padding: 10px;
		}
	}


	.main{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		height: 90vh;
		transition: 1s;
		@include tablet{
			flex-flow: row nowrap;

		}
		@include desktop{
			justify-content: flex-start;
		}
	}

	.shrunkheader{
		transition: 1s ease;
		height: 150px;
		height: auto;
		img {
			height: 100px;
		}
		padding: 25px;
		@include tablet{
			justify-content: flex-start;
		}
	}
