	body  {
		font-size: 16px;
		// font-family: $font, sans-serif;
		background-color: black;
		color: white;
		text-decoration: none;

	}
	
	.wrapper{
		display: flex;
		flex-flow: column wrap;
	}

	.main{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		height: 600px;
	
		@include tablet{
			flex-flow: row nowrap;
	
		}
		@include desktop{
			justify-content: flex-start;
		}
	}

	.shrunkheader{
		height: auto;
		img {
			height: 100px;
		}
		justify-content: center;
		flex-flow: row nowrap;
		padding: 25px;
	}