@font-face {
    font-family: 'open_sans';
    src: url('../../assets/fonts/opensans-light-webfont.eot');
    src: url('../../assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/opensans-light-webfont.woff') format('woff'),
         url('../../assets/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../../assets/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: light;
    font-style: normal;

}
