@import 'variables';
// @import 'scss/mixins';
@import 'reset';// css reset
 // @import 'scss/font';
@import 'body';
// @import 'scss/header';
// @import 'scss/photo-grid';
@import 'scss/footer';

.article-insertion{
	display: flex
	justify-content: space-between;
}
.article{
	display: flex;
	
}


footer{
	color: #c2c2c2;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	margin-top: 60%;
}
@media screen and (min-width: 600px){
	
	footer{
		margin-top: 35%;
	}
}
@media screen and (min-width: 1000px){

	footer{
		/*margin-left: 1%;*/
		margin-top: 15%;
		justify-content: flex-start;
	}
}
